<div class="card">
  <h4 class="card-header">Landing</h4>
  <div class="card-body">
    <!-- Rounded switch -->
    <div class="flex row">
      <div>
        <label for="toggle-map-switch">Toggle Mapping: </label>
        <label id="toggle-map-switch" class="switch">
          <input type="checkbox" [(ngModel)]="toggleMapMode">
          <span class="slider round"></span>
        </label>
      </div>
      <div>
        <label for="playback">Playback speed</label>
        <select id="playback" (change)="onChangeSpeed($event)">
          <option value="0.25">0.25</option>
          <option value="0.50">0.50</option>
          <option value="0.75">0.75</option>
          <option value="1.00" selected>Normal</option>
        </select>
      </div>
    </div>
    <video #video id="song1" (timeupdate)="onVideoTimeUpdate()" class="center" width="640" height="360" [controls]="true" [muted]="true">
      <!-- original resolution = 1280 x 720 -->
      <source src="assets/videos/song1.mp4" type="video/mp4">
      <track src="assets/vtt/song1.vtt" label="English" kind="subtitles" srclang="en" default>
      Your browser does not support the video tag.
    </video>
</div>