<div class="chord-form">
  <div class="container">
    <h2>Add a Chord</h2>
    <form
          #chordForm="ngForm"
          id="add-chord-form"
          (submit)="onSubmitAddChord()">
      <div>
        <label for="timestamp">
          Video Timestamp: {{ videoTime | formatVideoTime }}
        </label>
      </div>
      <div class="form-group grid-container">
        <label for="root-input">Root</label>
        <input
                type="text"
                class="form-control"
                id="root-input"
                required
                [(ngModel)]="chordModel.root"
                name="root">
      </div>
      <div class="form-group grid-container">
        <label for="bass-input">Bass</label>
        <input
                type="text"
                class="form-control"
                id="bass-input"
                [(ngModel)]="chordModel.bass"
                name="bass">
      </div>
      <div class="form-group grid-container">
        <label for="quality-input">Quality</label>
        <input
                type="text"
                class="form-control"
                id="quality-input"
                required
                [(ngModel)]="chordModel.quality"
                name="quality">
      </div>
      <div class="form-group grid-container">
        <label for="numeral-input">Numeral</label>
        <input
                type="text"
                class="form-control"
                id="numeral-input"
                [(ngModel)]="chordModel.numeral"
                name="numeral">
      </div>
      <div class="form-group grid-container">
        <label for="alias-input">Alias</label>
        <input
                type="text"
                class="form-control"
                id="alias-input"
                [(ngModel)]="chordModel.alias"
                name="alias">
      </div>
      <div id="submit-container">
        <button
                type="submit"
                [disabled]="chordForm.form.invalid || !videoTime"
                class="btn btn-success">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>