<div class="song-component card">
  <h1 class="card-header">Songs</h1>
  <select
          id="select-song"
          class="btn btn-dark selectpicker show-tick" 
          (change)="onChangeSong($event)">
    <option
        *ngFor="let item of songModels"
        value="{{item._id}}">
        {{item.title}}
    </option>
  </select>
  <div class="card-body">
    <div class="edit-menu">
      <div class="edit-section">
        <div>
          <label for="toggle-edit-switch">Edit Mode: </label>
        </div>
        <label id="toggle-edit-switch" class="switch">
          <input
                  type="checkbox"
                  [(ngModel)]="toggleEditMode">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="edit-section">
        <div>
          <label for="playback">Playback speed</label>
        </div>
        <select
                id="playback"
                class="btn btn-info selectpicker show-tick" 
                (change)="onChangePlayback($event)">
          <option value="0.25">0.25</option>
          <option value="0.50">0.50</option>
          <option value="0.75">0.75</option>
          <option value="1.00" selected>Normal</option>
        </select>
      </div>
    </div>
    <div *ngIf="toggleEditMode">
      <div id="button-container" class="btn-group btn-group-toggle" data-toggle="buttons">
        <label
                class="btn btn-secondary"
                [ngStyle]="{'background-color': 'var(--light-blue)'}">
          <input
                  type="radio" 
                  name="toggleForms"
                  (click)="toggleForms='add-chord'">
          Add Chord
        </label>
        <label
                class="btn btn-secondary"
                [ngStyle]="{'background-color': 'var(--light-purple)'}">
          <input
                  type="radio" 
                  name="toggleForms"
                  (click)="toggleForms='add-song'">
          Add Song
        </label>
        <label
                class="btn btn-secondary"
                [ngStyle]="{'background-color': 'var(--light-pink)'}">
          <input
                  type="radio" 
                  name="toggleForms"
                  (click)="toggleForms='edit-song'">
          Edit Song
        </label>
      </div>
      <div [ngSwitch]="toggleForms">
        <chord-form
                    *ngSwitchDefault="'add-chord'"
                    data-formtype="add"
                    [videoTime]="videoTime">
        </chord-form>
        <chord-form
                    *ngSwitchCase="'edit-chord'"
                    data-formtype="edit"
                    [videoTime]="videoTime">
        </chord-form>
        <song-form 
                    *ngSwitchCase="'add-song'"
                    data-formtype="add">
        </song-form>
        <song-form  
                    *ngSwitchCase="'edit-song'"
                    data-formtype="edit">
        </song-form>
      </div>
    </div>
    <div #chordSlider class="chord-slider">
        <div
            *ngFor="let chord of chordModels"
            id="{{chord._id}}"
            [attr.data-timestamp]="chord.timestamp" 
            class="cell">
            <a *ngIf="toggleEditMode" href="#" (click)="onDeleteChord($event)">
              <svg class="bi bi-trash trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
              </svg>
            </a>
            <div [innerHTML]="chord | formatChord"></div>
        </div>
    </div>
    <video
            *ngIf="activeSong.videoSrc"
            #video 
            id="videoContainer"
            (timeupdate)="onChangeVideoTime($event)"
            class="video"
            [controls]="true"
            [muted]="true"
            [src]="activeSong.videoSrc">
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">
          supports HTML5 video
        </a>
      </p>
      <!-- original resolution = 1280 x 720 -->
    </video>
</div>
