<div class="song-component card">
  <h1 class="card-header">Songs</h1>
  <select
          id="select-song"
          class="btn btn-dark selectpicker show-tick" 
          (change)="onChangeSong($event)">
    <option
        *ngFor="let item of appState.songModels"
        value="{{item._id}}">
        {{item.title}}
    </option>
  </select>
  <div class="card-body">
    <div class="edit-menu">
      <div class="edit-section">
        <div>
          <label for="toggle-edit-switch">Edit Mode: </label>
        </div>
        <label id="toggle-edit-switch" class="switch">
          <input
                  type="checkbox"
                  [(ngModel)]="toggleEditMode">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="edit-section">
        <div>
          <label for="playback">Playback speed</label>
        </div>
        <select
                id="playback"
                class="btn btn-info selectpicker show-tick" 
                (change)="onChangeSpeed($event)">
          <option value="0.25">0.25</option>
          <option value="0.50">0.50</option>
          <option value="0.75">0.75</option>
          <option value="1.00" selected>Normal</option>
        </select>
      </div>
    </div>
    <div *ngIf="toggleEditMode">
      <chord-form [videoTime]="videoTime"></chord-form>
    </div>
    <video
            *ngIf="appState.activeSong.videoSrc"
            #video 
            id="videoContainer"
            (timeupdate)="onChangeVideoTime($event)"
            class="video"
            [controls]="true"
            [muted]="true"
            [src]="appState.activeSong.videoSrc">
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">
          supports HTML5 video
        </a>
      </p>
      <!-- original resolution = 1280 x 720 -->
    </video>
</div>
