.song-component { 
  .edit-menu {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1.5rem;
    text-align: center;
  
    > div.edit-section {
      flex: 1 1 150px;
    }
  }
  .video {
    display: flex;
    width: 100%;
    max-width: 640px; 
    max-height: 360px;
    margin: auto;
  }
  .video:focus {
    outline: none;
  }
}
